<%= turbo_frame_tag "modal" do %>
  <div class="fixed inset-0 flex items-center justify-center z-50 bg-gray-500 bg-opacity-50" 
       data-controller="modal" 
       data-modal-target="backGround" 
       data-action="click->modal#closeBackground">
    <div class="modal-content bg-white rounded-xl shadow-lg p-6 w-full max-w-lg mx-4" 
         data-modal-target="modal">
      <%= render 'form', task: @task %>
    </div>
  </div>
<% end %>