<%= turbo_frame_tag "modal" do %>
  <div class="fixed inset-0 flex items-center justify-center z-50 bg-gray-500 bg-opacity-50" data-controller="modal" data-modal-target="backGround" data-action="click->modal#closeBackground">
    <div class="modal-content bg-white rounded-xl shadow-lg p-10 w-18 md:w-[450px]" data-modal-target="modal">
      <div class="flex justify-end items-center">
        <i class="fa-solid fa-xmark h-6 w-6 hover:text-yellow-500" data-action="click->modal#closeModal"></i>
      </div>
      <%= render 'form', task: @task %>
    </div>
  </div>
<% end %>
