<div class="container mx-auto px-4 py-8">
  
  <div class="w-full">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScA00XtK3T3WRl6g9uD3T4eWBkV9TyZwFmqaGUXIlqovBA0zQ/viewform?embedded=true" width="100%" height="800px" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
  </div>
</div>